<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permessi rete-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Permessi localizzazione in esecuzione (richiederemo runtime) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".MeteoRadarApp"
        android:allowBackup="true"
        android:label="MeteoRadar"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeteoRadar">
        
        <!--
            Chiave API di Google Maps.
            Viene caricata in modo sicuro dal file 'local.properties' (escluso da Git)
            tramite il Secrets Gradle Plugin.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${maps_api_key}"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
